<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598450541730-im71emrcqmvp6vtrnfjspfn0e5b6ut3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598450541730-im71emrcqmvp6vtrnfjspfn0e5b6ut3q</string>
	<key>API_KEY</key>
	<string>AIzaSyBFoEGB8BBQqdZXLL1LCI1EEiBBGwzEQr0</string>
	<key>GCM_SENDER_ID</key>
	<string>598450541730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.darkshop</string>
	<key>PROJECT_ID</key>
	<string>darkshop-35967</string>
	<key>STORAGE_BUCKET</key>
	<string>darkshop-35967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598450541730:ios:6f05f8ba64ad01807ab3fb</string>
</dict>
</plist>